/*
Name: Yulia Gorenshteyn
Date created: September 14, 2024
Date last edited: November 30, 2024
Version: 4.0
Description: Homework 4 CSS Patient Form
*/

header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color:rgba(151, 209, 187, 0.699);
    transition: background-color 0.4 ease-in-out;
    z-index: 1000;
}

header.scrolled {
    background-color: rgba(151, 209, 187, 0.699);
    opacity: 1.0;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background:linear-gradient(to bottom, #ccefff 0%, #edf5d6 100%);
    margin: 0;
    height: 100%;
    min-height: 100vh; /*page is height of the viewport*/
}

form{
    flex-grow: 1;
}

h1,h2 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    flex-grow: 1;
}

main {
    text-align: center;
    font-family: sans-serif;
    font-weight: normal;
    flex-grow: 1;
}

.image {
    text-align: left;
}

.td1{
    text-align: right;
    font-family: "optima", sans-serif;
    font-weight: normal;
}

th {
    text-align: center;
    font-family: "optima", sans-serif;
}

footer {
   position: flex; 
   bottom: 0;
   width: 100%;
   background-color:rgba(151, 209, 187, 0.699);
   height: 2.0rem;
}

#footer {
    text-align: right;
    font-family: "optima", sans-serif;
    font-weight: normal;
    margin-right: 10px;
}

label {
    text-align: right;
    font-family: "optima", sans-serif;
    font-weight: normal;
}

input{
    text-align: left;
    font-family: "optima", sans-serif;
    font-weight: normal;
}

textarea {
    text-align: left;
    font-family: "optima", sans-serif;
    font-weight: normal;
}

#today {
    text-align: left;
    font-family: "optima", sans-serif;
    font-weight: normal;
    margin-right: 5px;
}

p {
    text-align: right;
    font-family: "optima", sans-serif;
    font-weight: normal;
}

.error {
    color: red;
    font-size: 12px;
    font-family: "optima", sans-serif;
    font-weight: normal;
}

.pword-message {
    text-align: right;
    font-family: "optima", sans-serif;
    font-weight: normal;
    position: relative;
    left: 100px;
    background: transparent;
    padding: 10px;
    border-spacing: 2px;
    border-radius: 20px;
    color: red;
}

#review {
    margin-top: 5px;
}

table.output,
tr.output,
td.output {
    width: 500px;
    background-color: rgba(255, 0, 0, 0.274);
    padding: 10px;
    border-spacing: 2px;
    border-radius: 20px;
    color: black;
}

td.outputdata {
    width: 500px;
    background-color: rgba(255, 0, 0, 0.274);
    padding: 10px;
    border-spacing: 2px;
}

/*alert box*/
#alert-box {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #ccefff8f;
}

#alert-content {
    background-color: white;
    border-radius: 10px;
    width: 300px;
    height: 140px;
    margin: auto;
    margin-top: 20px;
    padding: 30px;
    text-align: center;
}

#alert-content h4 {
    font-size: 20px;
    text-align: center;
    font-family: "optima", sans-serif;
    font-weight: normal;
}

#close-alert {
    background-color: white;
    border-width: 1px;
    border-style: solid;
    color: rgba(0, 0, 0, 0.575);
    border-color: rgba(0, 0, 0, 0.575);
    font-size: 15px;
    font-weight: bold;
    height: 20px;
    width: 80px;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 20px;
    text-align: center;
    font-family: "optima", sans-serif;
}

/*iframe */
.iframe-container {
    position: absolute;
    top: 25%;
    right: 15px;
    width: 25%;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
}

.iframe-container iframe {
    width: 95%;
    height: 20%;
    border: 1px solid black;
}

#welcome1 {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    font-family: "optima", sans-serif;
    font-weight: normal;
}

#welcome2 {
    margin-top: 20px;
    font-size: 20px;
    text-align: center;
    font-family: "optima", sans-serif;
    font-weight: normal;
}